# **Personal Project**

## **Coffee Cart Database Project**
---

Due to the rise of coffee cart vendors, it is imperative to manage the operation well

---

### **Database Design**

**1. Table Structures**

| user |     |     |
| --- | --- | --- |
| user_id |
| name |
| email |
| phone_number |
| loyalty_points |
| discount_eligibility |

<br>

| carts |     |     |
| ---  | --- | --- |
| cart_id |
| location |
| employee_id |

<br>

| products |     |     |
| --- | --- | --- |
| product_id |
| product_name |
| price | 
| product_cost |
| description |

<br>

| cart_products |     |     |
| --- | --- | --- |
| cart_id |
| product_id |
| quantity |

<br>

| ingredients |     |     |
| --- | --- | --- |
| ingredient_id |
| ingredient_name |
| metrics |

<br>

| ingr_batch |    |    |
| --- | --- | --- |
| ingr_batch_id |
| ingredient_id |
| price_per_unit |
| quantity |
| remaining_qty |
| purchase_date |
| expiry_date |
| supplier_id |

<br>

| production_batches |     |     |
| --- | --- | --- |
| prod_batch_id |
| product_id |
| prod_date |
| qty_produced |
| total_cost |
| distribution |

<br>

| prod_ingr_cost |     |     |
| --- | --- | --- |
| prod_ingr_cost_id | 
| prod_batch_id |
| ingredient_id |
| quantity_used |
| cost_per_unit |
| total_cost |

<br>

| production_distribution |     |     |
| --- | --- | --- |
| prod_batch_id |
| product_id |
| cart_id |
| quantity |

<br>

| recipes |     |     |
| --- | --- | --- |
| recipe_id |
| product_id |
| ingredient_id |
| quantity |

<br>

| sales |     |     |
| --- | --- | --- |
| sale_id |
| cart_id |
| user_id |
| sale_amount |
| discount_percentage |
| discount_amount |
| total_sale_amount|
| sale_timestamp |
| payment_method |

<br>

| sales_details |     |     |
| --- | --- | --- |
| sales_details_id |
| sale_id |
| product_id |
| quantity |
| price_amount |

<br>

| promotions |     |     |
| --- | --- | --- |
| promo_id |
| description |
| discount_percent |
| eligibility_criteria | JSON field |

**2. DDL**

In [ ]:
%load_ext sql

%sql postgresql://postgres:postgres@localhost:5432/

In [ ]:
%%sql --

CREATE TABLE suppliers (
    supplier_id SERIAL,
    supplier_name VARCHAR(100) NOT NULL UNIQUE,
    supplier_address VARCHAR(255) NOT NULL,
    supplier_phone VARCHAR(50) NOT NULL UNIQUE,
    supplier_email VARCHAR(50) NOT NULL UNIQUE,
    PRIMARY KEY (supplier_id)
);

CREATE TABLE users (
    user_id SERIAL,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    loyaty_points INTEGER DEFAULT 0,
    discount_eligibility BOOLEAN DEFAULT FALSE,
    phone_number VARCHAR(20),
    PRIMARY KEY (user_id)
);

CREATE TABLE carts (
    cart_id SERIAL,
    employee_id INTEGER,
    PRIMARY KEY (cart_id),
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id)
);

CREATE TABLE cart_location_tracker as (
    cart_loc_id SERIAL,
    cart_id SERIAL,
    time_start TIMESTAMP NOT NULL,
    time_end TIMESTAMP NOT NULL,
    part_of_day VARCHAR(20) GENERATED ALWAYS AS (
        CASE 
            WHEN EXTRACT(hour FROM start_time) BETWEEN 6 AND 11 THEN 'morning'
            WHEN EXTRACT(hour FROM start_time) BETWEEN 12 AND 15 THEN 'afternoon'
            WHEN EXTRACT(hour FROM start_time) BETWEEN 16 AND 18 THEN 'late_afternoon'
            WHEN EXTRACT(hour FROM start_time) BETWEEN 19 AND 23 THEN 'evening'  
            ELSE 'night' 
        END
    ) STORED,
    district VARCHAR(100),
    subdistrict VARCHAR(100),
    precise_address VARCHAR(255),
    geoloc VARCHAR()
);

CREATE TABLE products (
    product_id SERIAL,
    product_name VARCHAR(100) NOT NULL,
    price NUMERIC(10, 2) NOT NULL,
    description TEXT,
    PRIMARY KEY (product_id)
);

CREATE TABLE cart_products (
    cart_id INTEGER,
    product_id INTEGER,
    quantity INTEGER DEFAULT 0 CHECK (quantity >= 0),
    PRIMARY KEY (cart_id, product_id),
    FOREIGN KEY (cart_id) REFERENCES carts(cart_id) ON DELETE RESTRICT,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT
);

CREATE TABLE ingredients (
    ingredient_id SERIAL,
    ingredient_name VARCHAR(100) NOT NULL,
    metrics VARCHAR(50) NOT NULL,
    PRIMARY KEY (ingredient_id)
);

CREATE TABLE ingr_batch (
    ingr_batch_id SERIAL,
    ingredient_id INTEGER,
    price_per_unit NUMERIC(10,2) NOT NULL CHECK (price_per_unit > 0),
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    remaining_qty NUMERIC(10,2) NOT NULL CHECK (remaining_qty >= 0),
    purchase_date DATE NOT NULL,
    expiry_date DATE,
    supplier_id INTEGER NOT NULL
    PRIMARY KEY (ingr_batch_id),
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT,
    FOREIGN KEY (supplier_id) REFERENCES suppliers(supplier_id) ON DELETE RESTRICT
);

CREATE TABLE production_batches (
    prod_batch_id SERIAL,
    product_id INTEGER,
    prod_date DATE NOT NULL,
    qty_produced NUMERIC(10,2) NOT NULL CHECK (qty_produced > 0),
    quantity_distributed NUMERIC(10,2) DEFAULT 0 CHECK (quantity_distributed >= 0),
    PRIMARY KEY (prod_batch_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT
);

CREATE TABLE prod_ingr_cost (
    prodt_ingr_cost_id SERIAL,
    prod_batch_id INTEGER,
    ingredient_id INT,
    ingr_batch_id INT,
    quantity_used NUMERIC(10,2) NOT NULL CHECK (quantity_used > 0),
    cost_per_unit NUMERIC(10,2) NOT NULL CHECK (cost_per_unit > 0),
    ingr_cost NUMERIC(10,2) GENERATED ALWAYS AS (quantity_used * cost_per_unit) STORED
    PRIMARY KEY (prod_ingr_cost_id),
    FOREIGN KEY (prod_batch_id) REFERENCES production_batches(prod_batch_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingr_batch_id) REFERENCES ingr_batch(ingr_batch_id) ON DELETE RESTRICT
);

CREATE TABLE production_distribution (
    prod_batch_id INTEGER,
    product_id INTEGER,
    cart_id INTEGER,
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    PRIMARY KEY (prod_batch_id, product_id, cart_id),
    FOREIGN KEY (prod_batch_id) REFERENCES production_batches(prod_batch_id) ON DELETE RESTRICT,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
    FOREIGN KEY (cart_id) REFERENCES carts(cart_id) ON DELETE RESTRICT
);

CREATE TABLE recipes (
    recipe_id SERIAL,
    product_id INTEGER,
    ingredient_id INTEGER,
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    PRIMARY KEY (recipe_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT
);

CREATE TABLE sales (
    sale_id SERIAL,
    cart_id INTEGER,
    cart_loc_id INT NOT NULL,
    user_id INTEGER,
    sale_amount NUMERIC(10,2) NOT NULL CHECK (sale_amount >= 0),
    discount_percentage NUMERIC(5,2) DEFAULT 0 CHECK (discount_percentage >= 0 and discount_percentage <= 100),
    discount_amount NUMERIC(10,2) GENERATED ALWAYS AS (sale_amount * discount_percentage / 100) STORED,
    total_sale_cost NUMERIC(10,2),
    sale_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    payment_method VARCHAR(50) NOT NULL,
    PRIMARY KEY (sale_id),
    FOREIGN KEY (cart_id) REFERENCES carts(cart_id) ON DELETE RESTRICT,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE RESTRICT
);

CREATE TABLE sales_details (
    sales_details_id SERIAL,
    sale_id INTEGER,
    product_id INTEGER,
    price NUMERIC(10,2),
    quantity INTEGER NOT NULL,
    price_amount NUMERIC(10,2) GENERATED ALWAYS AS (price * quantity) STORED,
    PRIMARY KEY (sales_details_id),
    FOREIGN KEY (sale_id) REFERENCES sales(sale_id) ON DELETE RESTRICT,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
);

CREATE TABLE promotions (
    promo_id SERIAL,
    description TEXT NOT NULL,
    discount_percent NUMERIC(5,2) NOT NULL CHECK (discount_percent >= 0 AND discount_percent <= 100),
    eligibility_criteria JSONB,
    PRIMARY KEY (promo_id)
);

---
### **Data Generation**
---

In [7]:
from faker import Faker
import random

In [8]:
fake = Faker('id_ID')
Faker.seed(42)

**Primary / Parent tables**

In [5]:
# generating table `suppliers`
table_suppliers = {'supplier_id':[], 'supplier_name':[], 'supplier_address':[], 'supplier_phone':[], 'supplier_email':[]}

for _ in range(10):
    table_suppliers['supplier_id'].append(None)
    table_suppliers['supplier_name'].append(fake.company())
    table_suppliers['supplier_address'].append(fake.address())
    table_suppliers['supplier_phone'].append(fake.phone_number())
    table_suppliers['supplier_email'].append(fake.unique.company_email())

In [ ]:
# generating table `users`
table_users = {'user_id':[], 'name':[], 'email':[], 'phone_number':[],
               'loyalty_points':[], 'discount_eligibility':[], 
               }

for _ in range(500):
    table_users['user_id'].append(None)
    table_users['name'].append(fake.name())
    table_users['email'].append(fake.unique.email())
    table_users['loyalty_points'].append(fake.random.randint(0,100))
    table_users['discount_eligibility'].append(random.choice([True, False]))
    table_users['phone_number'].append(fake.phone_number())

In [ ]:
# generating table `carts`
table_carts = {'cart_id':[], 'location':[], 'employee_id':[]}

area_list_central_jakarta = ['Gambir','Kebon Kelapa',
                             'Cikini','Gondangdia','Kebon Sirih','Menteng','Pegangsaan',
                             'Gunung Sahari Utara','Karang Anyar','Mangga Dua Selatan',
                             'Bendungan Hilir','Karet','Tengsin','Kebon Kacang','Kebon Kacang','Kebon Melati']

area_list_south_jakarta = ['Guntur','Karet Kuningan','Kuningan Timur','Menteng Atas','Setiabudi']

for i in range(6):
    month_added = i * 2 + 1
    table_carts['cart_id'].append(None)

    area = random.choice(['Central Jakarta','South Jakarta'])

    if area == 'Central Jakarta':
        district = random.choice(area_list_central_jakarta)
    else:
        district = random.choice(area_list_south_jakarta)

    table_carts['location'].append(f"{area} - {district}")

In [ ]:
# generating table `carts` with no `location`
table_carts = {'cart_id':[],'base_location':[],'employee_id':[]}

district_lists = ['Gambir','Kebon Kelapa',
                'Cikini','Gondangdia','Kebon Sirih','Menteng','Pegangsaan',
                'Gunung Sahari Utara','Karang Anyar','Mangga Dua Selatan',
                'Bendungan Hilir','Karet','Tengsin','Kebon Kacang','Kebon Kacang','Kebon Melati',
                'Guntur','Karet Kuningan','Kuningan Timur','Menteng Atas','Setiabudi']

for i in range(6):
    month_added = i * 2 + 1
    table_carts['cart_id'].append(None)
    table_carts['base_location'].append(random.choice(district_lists))

In [15]:
import random
table_carts = {'cart_id':[],'base_location':[],'employee_id':[]}

district_dict = {
    'Menteng':['Cikini','Gondangdia','Kebon Sirih','Menteng','Pegangsaan'],
    'Sawah Besar':['Gunung Sahari Utara','Karang Anyar','Kartini','Mangga Dua Selatan','Pasar Baru'],
    'Tanah Abang':['Bendungan Hilir','Gelora','Kampung Bali','Karet Tengsin','Kebon Kacang',
                   'Kebon Melati','Petamburan'],
    'Mampang Prapatan':['Bangka','Kuningan Barat','Mampang Prapatan','Pela Mampang','Tegal Parang'],               
    'Setiabudi':['Guntur','Karet Kuningan','Karet Semanggi','Karet','Kuningan Timur',
                 'Menteng Atas','Pasar Manggis','Setiabudi'],
    'Tebet':['Bukit Duri','Kebon Baru','Manggarai Selatan','Manggarai','Menteng Dalam',
             'Tebet Barat','Tebet Timur']
}

# map for `cart_id` `base_location`
cart_id_location = {'C001':'Menteng','C002':'Sawah Besar','C003':'Tanah Abang',
                 'C004':'Mampang Prapatan','C005':'Setiabudi':'C006':'Tebet'}

for i in range(6):
    month_added = i * 2 + 1
    table_carts['cart_id'].append(None)
    table_carts['base_location'].append(random.choice(list(district_dict.keys())))

In [ ]:
table_carts

In [15]:
# generating table `ingredients`
ingredients_list = ['Coffee Beans','Milk','Sugar','Ice',
                    'Vanilla Syrup','Hazelnut Syrup','Aren Syrup',
                    'Matcha Powder','Water']

solid_ingredients = ['Coffee Beans','Sugar','Ice','Matcha Powder']

liquid_ingredients = ['Milk','Vanilla Syrup','Hazelnut Syrup','Aren Syrup']

table_ingredients = {'ingredient_id':[],'ingredient_name':[],'metrics':[]}

for ingredient in ingredients_list:
    table_ingredients['ingredient_id'].append(None)
    table_ingredients['ingredient_name'].append(ingredient)

    if ingredient in solid_ingredients:
        table_ingredients['metrics'].append('grams')
    elif ingredient in liquid_ingredients:
        table_ingredients['metrics'].append('millilitres')

In [9]:
# generating table `products`
table_products = {'product_id':[],
                  'product_name':[],
                  'price':[],
                  'product_cost':[],
                  'description':[]
                 }

products_name_price = {'Iced Americano':8_000,
                       'Iced Latte':10_000,
                       'Iced Aren Latte':13_000,
                       'Iced Vanilla Latte':13_000,
                       'Iced Hazelnut Latte':13_000
                 }

for product, price in products_name_price.items():
    table_products['product_id'].append(None)
    table_products['product_name'].append(product)
    table_products['price'].append(price)
    table_products['product_cost'].append(round(random.uniform(4_000, 7_000),2))
    table_products['description'].append(fake.sentence())

In [ ]:
# generating table `products` without column `product_cost`
table_products = {'product_id':[],
                  'product_name':[],
                  'price':[],
                  'description':[]
                }

products_name_price = {'Iced Americano':8_000,
                       'Iced Latte':10_000,
                       'Iced Aren Latte':13_000,
                       'Iced Vanilla Latte':13_000,
                       'Iced Hazelnut Latte':13_000
                 }

for product, price in products_name_price.items():
    table_products['product_id'].append(None)
    table_products['product_name'].append(product)
    table_products['price'].append(price)
    table_products['description'].append(fake.sentence())

setting recipes by inserting directly

In [ ]:
%%sql
--
-- Iced Americano (200ml total: 150ml water, 50g ice, 10g coffee beans)
INSERT INTO recipes (product_id, ingredient_id, quantity)
VALUES 
    (1, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Coffee Beans'), 10),
    (1, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Ice'), 50),
    (1, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Water'), 150);

-- Iced Latte (200ml total: 100ml milk, 50ml water, 50g ice, 10g coffee beans)
INSERT INTO recipes (product_id, ingredient_id, quantity)
VALUES 
    (2, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Coffee Beans'), 10),
    (2, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Ice'), 50),
    (2, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Milk'), 100),
    (2, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Water'), 50);

-- Iced Aren Latte (200ml total: 90ml milk, 50ml water, 10ml aren syrup, 50g ice, 10g coffee beans)
INSERT INTO recipes (product_id, ingredient_id, quantity)
VALUES 
    (3, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Coffee Beans'), 10),
    (3, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Ice'), 50),
    (3, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Milk'), 90),
    (3, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Water'), 50),
    (3, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Aren Syrup'), 10);

-- Iced Vanilla Latte (200ml total: 90ml milk, 50ml water, 10ml vanilla syrup, 50g ice, 10g coffee beans)
INSERT INTO recipes (product_id, ingredient_id, quantity)
VALUES 
    (4, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Coffee Beans'), 10),
    (4, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Ice'), 50),
    (4, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Milk'), 90),
    (4, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Water'), 50),
    (4, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Vanilla Syrup'), 10);

-- Iced Hazelnut Latte (200ml total: 90ml milk, 50ml water, 10ml hazelnut syrup, 50g ice, 10g coffee beans)
INSERT INTO recipes (product_id, ingredient_id, quantity)
VALUES 
    (5, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Coffee Beans'), 10),
    (5, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Ice'), 50),
    (5, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Milk'), 90),
    (5, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Water'), 50),
    (5, (SELECT ingredient_id FROM ingredients WHERE ingredient_name = 'Hazelnut Syrup'), 10)

---

Creating dependent tables

In [ ]:
# generating data for table `cart_location_tracker`
table_cart_loc_tracker = {'cart_loc_id':[],'cart_id':[],
                          'time_start':[],'time_end':[],'part_of_day':[],
                          'district':[],'subdistrict':[],'precise_address':[],'geoloc':[]}

district_dict = {
    'Menteng':['Cikini','Gondangdia','Kebon Sirih','Menteng','Pegangsaan'],
    'Sawah Besar':['Gunung Sahari Utara','Karang Anyar','Kartini','Mangga Dua Selatan','Pasar Baru'],
    'Tanah Abang':['Bendungan Hilir','Gelora','Kampung Bali','Karet Tengsin','Kebon Kacang',
                   'Kebon Melati','Petamburan'],
    'Mampang Prapatan':['Bangka','Kuningan Barat','Mampang Prapatan','Pela Mampang','Tegal Parang'],               
    'Setiabudi':['Guntur','Karet Kuningan','Karet Semanggi','Karet','Kuningan Timur',
                 'Menteng Atas','Pasar Manggis','Setiabudi'],
    'Tebet':['Bukit Duri','Kebon Baru','Manggarai Selatan','Manggarai','Menteng Dalam',
             'Tebet Barat','Tebet Timur']
}

for _ in range(100):
    table_cart_loc_tracker['cart_loc_id'].append.randint(1,100)
    table_cart_loc_tracker['cart_id'].append(random.choice(table_carts['cart_id']))
    
    time_start = fake.random.date_time_this_year()
    table_cart_loc_tracker['time_start'].append(time_start)

    time_end = time_start + timedelta(hours=randint(1,3))
    table_cart_loc_tracker['time_end'].append(time_end)

    for hour in time_start.hour():
        if 6 <= hour <= 11:
            table_cart_loc_tracker['part_of_day'].append('morning')
        elif 12 <= hour <= 15:
            table_cart_loc_tracker['part_of_day'].append('afternoon')
        elif 16 <= hour <= 18:
            table_cart_loc_tracker['part_of_day'].append('late afternoon')
        elif 19 <= hour <= 23:
            table_cart_loc_tracker['part_of_day'].append('evening')
        else:
            table_cart_loc_tracker['part_of_day'].append('night')

    district = choice(list(district_dict.keys())) 
    table_cart_loc_tracker['district'].append(district)

    subdistrict = choice(district_dict[district])
    table_cart_loc_tracker['subdistrict'].append(subdistrict)

    precise_address = f"Jl. {fake.street_name()}, {subdistrict}, {district}, Jakarta"
    table_cart_loc_tracker['precise_address'].append(precise_address)

    geoloc_lat = round(uniform(-6.300, -6.100),6)
    geoloc_long = round(uniform(106.700, 106.900),6)
    table_cart_loc_tracker['geoloc'].append(f"{geoloc_lat}, {geoloc_long}")

In [ ]:
# creating table `cart_products`
table_cart_products = {'cart_id':[],'product_id':[],'quantity':[]}

cart_quantity_totals = {cart_id: 0 for cart_id in table_carts['cart_id']}

cart_products_set = {cart_id: set() for cart_id in table_carts['cart_id']}

for cart_id in table_carts['cart_id']:
    while cart_quantity_totals[cart_id] < 300:
        product_id = random.choice(table_products['product_id'])

        if product_id not in cart_products_set[cart_id]:
            quantity = random.randint(10,50)

            if cart_quantity_totals[cart_id] + quantity > 300:
                quantity = 300 - cart_quantity_totals[cart_id]

            table_cart_products['cart_id'].append(cart_id)
            table_cart_products['product_id'].append(product_id)
            table_cart_products['quantity'].append(quantity)

            cart_quantity_totals[cart_id] += quantity
            cart_products_set[cart_id].add(product_id)

            if cart_quantity_totals[cart_id] == 300:
                break