# **Personal Project**

## **Coffee Cart Database Project**
---

Due to the rise of coffee cart vendors, it is imperative to manage the operation well

---

### **Database Design**

**1. Table Structures**

| user |     |     |
| --- | --- | --- |
| user_id |
| name |
| email |
| phone_number |
| loyalty_points |
| discount_eligibility |

<br>

| carts |     |     |
| ---  | --- | --- |
| cart_id |
| location |
| employee_id |

<br>

| products |     |     |
| --- | --- | --- |
| product_id |
| product_name |
| price | 
| product_cost |
| description |

<br>

| cart_products |     |     |
| --- | --- | --- |
| cart_id |
| product_id |
| quantity |

<br>

| ingredients |     |     |
| --- | --- | --- |
| ingredient_id |
| ingredient_name |
| metrics |

<br>

| ingr_batch |    |    |
| --- | --- | --- |
| ingr_batch_id |
| ingredient_id |
| price_per_unit |
| quantity |
| remaining_qty |
| purchase_date |
| expiry_date |
| supplier_id |

<br>

| production_batches |     |     |
| --- | --- | --- |
| prod_batch_id |
| product_id |
| prod_date |
| qty_produced |
| total_cost |
| distribution |

<br>

| prod_ingr_cost |     |     |
| --- | --- | --- |
| prod_ingr_cost_id | 
| prod_batch_id |
| ingredient_id |
| quantity_used |
| cost_per_unit |
| total_cost |

<br>

| production_distribution |     |     |
| --- | --- | --- |
| prod_batch_id |
| product_id |
| cart_id |
| quantity |

<br>

| recipes |     |     |
| --- | --- | --- |
| recipe_id |
| product_id |
| ingredient_id |
| quantity |

<br>

| sales |     |     |
| --- | --- | --- |
| sale_id |
| cart_id |
| user_id |
| sale_amount |
| discount_percentage |
| discount_amount |
| total_sale_amount|
| sale_timestamp |
| payment_method |

<br>

| sales_details |     |     |
| --- | --- | --- |
| sales_details_id |
| sale_id |
| product_id |
| quantity |
| price_amount |

<br>

| promotions |     |     |
| --- | --- | --- |
| promo_id |
| description |
| discount_percent |
| eligibility_criteria | JSON field |

**2. DDL**

In [ ]:
%load_ext sql

%sql postgresql://postgres:postgres@localhost:5432/

In [ ]:
%%sql --

CREATE TABLE suppliers (
    supplier_id SERIAL,
    supplier_name VARCHAR(100) NOT NULL UNIQUE,
    supplier_address VARCHAR(255) NOT NULL,
    supplier_phone VARCHAR(50) NOT NULL UNIQUE,
    supplier_email VARCHAR(50) NOT NULL UNIQUE,
    PRIMARY KEY (supplier_id)
);

CREATE TABLE users (
    user_id SERIAL,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    loyaty_points INTEGER DEFAULT 0,
    discount_eligibility BOOLEAN DEFAULT FALSE,
    phone_number VARCHAR(20),
    PRIMARY KEY (user_id)
);

CREATE TABLE carts (
    cart_id SERIAL,
    location VARCHAR(100) NOT NULL,
    employee_id INTEGER,
    PRIMARY KEY (cart_id),
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id)
);

CREATE TABLE products (
    product_id SERIAL,
    product_name VARCHAR(100) NOT NULL,
    price NUMERIC(10, 2) NOT NULL,
    product_cost NUMERIC(10, 2) NOT NULL,
    description TEXT,
    PRIMARY KEY (product_id)
);

CREATE TABLE cart_products (
    cart_id INTEGER,
    product_id INTEGER,
    quantity INTEGER DEFAULT 0 CHECK (quantity >= 0),
    PRIMARY KEY (cart_id, product_id),
    FOREIGN KEY (cart_id) REFERENCES carts(cart_id) ON DELETE RESTRICT,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT
);

CREATE TABLE ingredients (
    ingredient_id SERIAL,
    ingredient_name VARCHAR(100) NOT NULL,
    metrics VARCHAR(50) NOT NULL,
    PRIMARY KEY (ingredient_id)
);

CREATE TABLE ingr_batch (
    ingr_batch_id SERIAL,
    ingredient_id INTEGER,
    price_per_unit NUMERIC(10,2) NOT NULL CHECK (price_per_unit > 0),
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    remaining_qty NUMERIC(10,2) NOT NULL CHECK (remaining_qty >= 0),
    purchase_date DATE NOT NULL,
    expiry_date DATE,
    supplier_id INTEGER NOT NULL
    PRIMARY KEY (ingr_batch_id),
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT,
    FOREIGN KEY (supplier_id) REFERENCES suppliers(supplier_id) ON DELETE RESTRICT
);

CREATE TABLE production_batches (
    prod_batch_id SERIAL,
    product_id INTEGER,
    prod_date DATE NOT NULL,
    qty_produced NUMERIC(10,2) NOT NULL CHECK (qty_produced > 0),
    quantity_distributed NUMERIC(10,2) DEFAULT 0 CHECK (quantity_distributed >= 0),
    PRIMARY KEY (prod_batch_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT
);

CREATE TABLE prod_ingr_cost (
    prodt_ingr_cost_id SERIAL,
    prod_batch_id INTEGER,
    ingredient_id INT,
    ingr_batch_id INT,
    quantity_used NUMERIC(10,2) NOT NULL CHECK (quantity_used > 0),
    cost_per_unit NUMERIC(10,2) NOT NULL CHECK (cost_per_unit > 0),
    ingr_cost NUMERIC(10,2) GENERATED ALWAYS AS (quantity_used * cost_per_unit) STORED
    PRIMARY KEY (prod_ingr_cost_id),
    FOREIGN KEY (prod_batch_id) REFERENCES production_batches(prod_batch_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingr_batch_id) REFERENCES ingr_batch(ingr_batch_id) ON DELETE RESTRICT
);

CREATE TABLE production_distribution (
    prod_batch_id INTEGER,
    product_id INTEGER,
    cart_id INTEGER,
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    PRIMARY KEY (prod_batch_id, product_id, cart_id),
    FOREIGN KEY (prod_batch_id) REFERENCES production_batches(prod_batch_id) ON DELETE RESTRICT,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
    FOREIGN KEY (cart_id) REFERENCES carts(cart_id) ON DELETE RESTRICT
);

CREATE TABLE recipes (
    recipe_id SERIAL,
    product_id INTEGER,
    ingredient_id INTEGER,
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    PRIMARY KEY (recipe_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT
);

CREATE TABLE sales (
    sale_id SERIAL,
    cart_id INTEGER,
    user_id INTEGER,
    sale_amount NUMERIC(10,2) NOT NULL CHECK (sale_amount >= 0),
    discount_percentage NUMERIC(5,2) DEFAULT 0 CHECK (discount_percentage >= 0 and discount_percentage <= 100),
    discount_amount NUMERIC(10,2) GENERATED ALWAYS AS (sale_amount * discount_percentage / 100) STORED,
    total_sale_cost NUMERIC(10,2),
    sale_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    payment_method VARCHAR(50) NOT NULL,
    PRIMARY KEY (sale_id),
    FOREIGN KEY (cart_id) REFERENCES carts(cart_id) ON DELETE RESTRICT,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE RESTRICT
);

CREATE TABLE sales_details (
    sales_details_id SERIAL,
    sale_id INTEGER,
    product_id INTEGER,
    price NUMERIC(10,2),
    quantity INTEGER NOT NULL,
    price_amount NUMERIC(10,2) GENERATED ALWAYS AS (price * quantity) STORED,
    PRIMARY KEY (sales_details_id),
    FOREIGN KEY (sale_id) REFERENCES sales(sale_id) ON DELETE RESTRICT,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
);

CREATE TABLE promotions (
    promo_id SERIAL,
    description TEXT NOT NULL,
    discount_percent NUMERIC(5,2) NOT NULL CHECK (discount_percent >= 0 AND discount_percent <= 100),
    eligibility_criteria JSONB,
    PRIMARY KEY (promo_id)
);

---
### **Data Generation**
---

so I have this DDL statement,

```sql
CREATE TABLE suppliers (
    supplier_id SERIAL,
    supplier_name VARCHAR(100) NOT NULL UNIQUE,
    supplier_address VARCHAR(255) NOT NULL,
    supplier_phone VARCHAR(50) NOT NULL UNIQUE,
    supplier_email VARCHAR(50) NOT NULL UNIQUE,
    PRIMARY KEY (supplier_id)
);

CREATE TABLE users (
    user_id SERIAL,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    loyaty_points INTEGER DEFAULT 0,
    discount_eligibility BOOLEAN DEFAULT FALSE,
    phone_number VARCHAR(20),
    PRIMARY KEY (user_id)
);

CREATE TABLE carts (
    cart_id SERIAL,
    location VARCHAR(100) NOT NULL,
    employee_id INTEGER,
    PRIMARY KEY (cart_id),
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id)
);

CREATE TABLE products (
    product_id SERIAL,
    product_name VARCHAR(100) NOT NULL,
    price NUMERIC(10, 2) NOT NULL,
    product_cost NUMERIC(10, 2) NOT NULL,
    description TEXT,
    PRIMARY KEY (product_id)
);

CREATE TABLE ingredients (
    ingredient_id SERIAL,
    ingredient_name VARCHAR(100) NOT NULL,
    metrics VARCHAR(50) NOT NULL,
    PRIMARY KEY (ingredient_id)
);

CREATE TABLE recipes (
    recipe_id SERIAL,
    product_id INTEGER,
    ingredient_id INTEGER,
    quantity NUMERIC(10,2) NOT NULL CHECK (quantity > 0),
    PRIMARY KEY (recipe_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT,
    FOREIGN KEY (ingredient_id) REFERENCES ingredients(ingredient_id) ON DELETE RESTRICT
);
```

from the DDL statement above, can you help me to make a python script with Faker() library to create dummy data for the database? 
here are the requirements
- the data should cover for a year, from January 2024 'til present date.
- the at the start of the year, the company started with three carts, and added a cart every two months
- the carts` locations varies in Central Jakarta and Southern Jakarta, with each cart is fixed to a certain district or regency.
- each cart can contain 200 cups of ready-to-serve coffee
- the `product_name` are `Iced Americano`, `Iced Latte`, `Iced Vanilla Latte`, `Iced Hazelnut Latte`, `Iced Aren Latte`, and `Iced Matcha Latte` , and based on this information, can you make the python script to also fulfill the `products`, `ingredients`, and `recipes` table?

what I meant was like this,

```python
table_users = {'user_id':[], 'name':[],'email':[], 'loyalty_points':[], 'discount_eligibility':[], 'phone_number':[]}
table_users['user_id'] = ...
table_users['name'] = ...
table_users['email'] = ...
```

also, can you explain the concept of faker seed, and whether it is possible to integrate it in this script.

In [ ]:
from faker import Faker
import random

In [ ]:
table_users = {'user_id':[], 'name':[],'email':[], 'loyalty_points':[], 'discount_eligibility':[], 'phone_number':[]}
table_users['user_id'] = ...
table_users['name'] = ...
table_users['email'] = ...